<!DOCTYPE html>
<html>
    <head>
        <title>Team Surge Error</title>
        <link rel="stylesheet" href="..\static\style.css">      <!-- Initializing the style.css for use -->
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">      <!-- To make the webpage responsive -->
    </head>
    <body>

        <!-- Header of the Webpage -->
        <h1>
            Team Surge IP and Location Finder
        </h1>

        <div>Error!</div> <!-- Error message -->
        <ul>
            <li>Reason: {{ reason }} </li>      <!-- Jinja templates to get the values from the JSON file -->
        </ul>
    </body>
</html>