* {
    box-sizing: border-box;
  }
  
  /* Initializing font-family for the webpage */
  body {
    font-family: Arial, Helvetica, sans-serif;
  }
  
  /* Header style */
  h1{
    color: black;
    background: rgb(18, 190, 173);
    font-size: 50px;
    text-align: center;
    padding: 50px;
  }
  
  /* Form element padding size */
  form {
    padding: 20px;
  }

  /* Search bar input styiling  */
  form.searchBar input[type=text] {
    margin-left: 15%;
    width: 50%;
    padding: 10px;
    background: rgb(236, 235, 235);
    font-size: 14px;
    border: 2px solid black;
  }
  
  /* Search bar button styiling  */
  form.searchBar button {
    width: 20%;
    padding: 10px;
    background: #D6EEEE;
    color: black;
    font-size: 14px;
    border: 2px solid black;
    cursor: pointer;
  }
  
  form.searchBar button:hover {
    background: rgb(18, 190, 173);
  }

/* Table styiling  */
  table, td{
    border: 2px solid black;
    border-collapse: collapse;
    width: 80%;
  }

  td{
    text-align: center;
    padding: 15px;
    width: 50%;
  }

tr:hover {background-color: rgb(18, 190, 173)} /* Hover background color on Table rows (tr) */

td:nth-child(even){
    background-color: #D6EEEE;
  }

.center {
    margin-left: auto;
    margin-right: auto;
}

/* Footer styiling */
footer{
    color: black;
    background: rgb(18, 190, 173);
    font-size: 18px;
    text-align: left;
    height: 100%;
}